.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.todoTable{
  border-collapse: collapse;
    text-align: left;
    width: 90%;
    font-size: 17px;
    margin-top: 5px; 
    
  }

th, td{ 
    border-bottom: 1px solid rgba(66, 66, 66, 0.199);
    /* margin: 10px 0px; */
    padding:2px 0px;
    text-transform: capitalize;
  }

 tr:nth-child(even) {
    /* background-color: #f2f2f2;  */
  }  

  @media screen and (max-width: 576px) {
    .todoTable {
      font-size: 14px;
    }
     
} 

.inputArea { 
  width: 90% ;
}